
  <mat-table [dataSource]="orders">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="icon">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let item"><mat-icon *ngFor="let icon of item.icons">{{icon}}</mat-icon></mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.quantity | scale}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.price | currency:'':'':'.2-2':'en-US'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="duration">
      <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.duration | duration}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="sold">
      <mat-header-cell *matHeaderCellDef> Sold </mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.sold | scale}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             [ngClass]="row.cls"
             matRipple
             class="summary-row"
             [class.expanded]="expandedType == row.type_id"
             (click)="expandedType = expandedType != row.type_id ? row.type_id : null"></mat-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; when: isOrderRow"
             class="order-row"
             [class.expanded]="expandedType == row.type_id"
             [class.owned]="row.owned"></mat-row>

  </mat-table>
