<div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="start stretch" *appLet="(orders$ | async) as orders">

  <div></div>

  <mat-accordion *ngIf="orders.data || orders.error; else loading">
    <app-error *ngIf="orders.error" [err]="orders.error"></app-error>
    <ng-container *ngIf="orders.data">
      <mat-expansion-panel *ngFor="let locationOrders of orders.data">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{locationOrders.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-orders-list [orders]="locationOrders.items"></app-orders-list>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>

  <ng-template #loading>
    <mat-card class="mat-elevation-z4">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card>
  </ng-template>

  <div></div>

</div>
