.num-card {
  height: 125px;
  padding: 28px 18px 10px;
}
.num-card-value > .mat-display-1 {
  font-size: 36px;
  padding: 0 8px;
  margin-bottom: 0;
}
.num-card-actions {
  font-size: 15px;
}
.mat-card-header {
  min-height: 61px;
}
.mat-row {
  min-height: 40px;
}
.mat-row-header {
  min-height: 36px;
  font-style: italic;
  /*background-color: mat-color($tab-focus-color, lighter, 0.3);*/
  background-color:rgba(209,196,233,.3)
}
.mat-column-link {
  flex: 0 0 40px;
  justify-content: center
}
.mat-column-name {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center
}
.mat-column-quantity {
  flex: 0 1 80px;
  justify-content: center
}
.mat-column-value {
  flex: 0 1 160px;
  justify-content: flex-end
}
.mat-column-volume, .mat-column-assembled {
  flex: 0 1 100px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center
}
.no-margin {
  margin: 0 0 0 0
}
.gap-margin {
  margin: 8px 8px 8px 8px
}
.route {
  padding: 0px 0px 0px 0px;
}
