<div fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="start stretch" *defVar="(location$ | async) as location">

  <div></div>

  <mat-card *ngIf="location?.info as info" class="mat-elevation-z4">
    <mat-card-header>
      <img *ngIf="info.image" mat-card-avatar [src]="info.image">
      <mat-card-title>{{info.name}}</mat-card-title>
      <mat-card-subtitle *ngIf="info.comment">{{info.comment}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="start">
      <ng-container *ngFor="let stat of info.stats">
        <mat-card *ngIf="stat.value !== ''" class="compact">
          <mat-card-header class="compact">
            <mat-card-title class="compact">{{stat.title}}</mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start" class="compact">
            <div class="mat-display-1 no-margin">
              <ng-container *ngIf="isNum(stat.value)">{{stat.value | scale:'kMB':'.2-2'}}</ng-container>
              <ng-container *ngIf="!isNum(stat.value) && stat.value !== 'n/a'">{{stat.value}}</ng-container>
            </div>
            <button *ngIf="stat.value === 'n/a'" mat-stroked-button color="primary" fxFlexFill
              [routerLink]="['/browse',info.data.Link,'deep']" queryParamsHandling="preserve">
              Load
            </button>
          </mat-card-content>
          <mat-card-actions class="compact">
            <button mat-icon-button (click)="viewLogistics()">
              <mat-icon>poll</mat-icon>
            </button>  
          </mat-card-actions>
        </mat-card>
      </ng-container>      
      <mat-progress-bar *ngIf="!info.done" mode="indeterminate"></mat-progress-bar>
    </mat-card-content>

    <mat-card-actions fxLayout="row wrap" fxLayoutAlign="flex-start">
      <ng-container *ngFor="let node of info.route; let idx = index">
        <mat-icon *ngIf="idx" fxFlexAlign="center">navigate_next</mat-icon>
        <button mat-button [matTooltip]="node.comment" fxFlexAlign="center"
          [routerLink]="['/browse',node.link]" queryParamsHandling="preserve">
          {{node.name}}
        </button>
      </ng-container>
    </mat-card-actions>    
  </mat-card>

  <app-error *ngIf="location?.error as e" fxFlex fxFill [err]="e"></app-error>

  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z4" matSortActive="name" matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="link">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let rec">
        <button *ngIf="rec.link" mat-icon-button 
          [routerLink]="['/browse',rec.link]" queryParamsHandling="preserve">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let rec">
        {{rec.name}}
        <font *ngIf="rec.comment" size="-2">
          {{rec.comment}}
        </font>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
      <mat-cell *matCellDef="let rec">{{rec.quantity | number}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Value<br>(ISK) </mat-header-cell>
      <mat-cell *matCellDef="let rec">
        <ng-container *ngIf="isNum(rec.value)">{{rec.value | currency:'':'':'.2-2':'en-US'}}</ng-container>
        <ng-container *ngIf="!isNum(rec.value)">{{rec.value}}</ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="volume">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Volume<br>(m3) </mat-header-cell>
      <mat-cell *matCellDef="let rec">
        <ng-container *ngIf="isNum(rec.volume)">{{rec.volume | number:'.2-2'}}</ng-container>
        <ng-container *ngIf="!isNum(rec.volume)">{{rec.volume}}</ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="assembled">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Assembled<br>(m3) </mat-header-cell>
      <mat-cell *matCellDef="let rec">
        <ng-container *ngIf="isNum(rec.volume_assembled)">{{rec.volume_assembled | number:'.2-2'}}</ng-container>
        <ng-container *ngIf="!isNum(rec.volume_assembled)">{{rec.volume_assembled}}</ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let rec; columns: displayedColumns;" [class.mat-row-record]="true"></mat-row>
    <mat-row *matRowDef="let rec; columns: displayedHeaderColumns; when: isHeader" [class.mat-row-header]="true"></mat-row>

  </mat-table>

  <div></div>

</div>

