<div fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="start stretch" *defVar="(location$ | async) as location">

  <div></div>

  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <img *ngIf="location.info.image" mat-card-avatar [src]="location.info.image">
      <mat-card-title>{{location.info.name}}</mat-card-title>
      <mat-card-subtitle *ngIf="location.info.comment">{{location.info.comment}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div *ngFor="let stat of location.info.stats">
        <mat-card class="gap-margin">
          <div fxLayout="column">
            <div class="mat-caption">{{stat.title}}</div>
            <div class="mat-display-1 no-margin">{{(stat.value | scale:'.2-2') || 'N/A'}}</div>
          </div>
        </mat-card>
      </div>
      <app-error *ngIf="location.error as e" fxFlex fxFill [err]="e"></app-error>
      <mat-progress-bar *ngIf="!location.data" mode="indeterminate"></mat-progress-bar>
    </mat-card-content>
    
    <mat-card-actions fxLayout="row wrap" fxLayoutAlign="flex-start">
      <div></div>
      <ng-container *ngFor="let node of location.info.route; let idx = index">
        <mat-icon *ngIf="idx" fxFlexAlign="center">navigate_next</mat-icon>
        <button mat-button [matTooltip]="node.comment" [routerLink]="['/browse',node.link]" fxFlexAlign="center">{{node.name}}</button>
      </ng-container>
    </mat-card-actions>    
  </mat-card>

  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z4" matSortActive="name" matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="link">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let rec">
        <button *ngIf="rec.link" mat-icon-button [routerLink]="['/browse',rec.link]">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let rec">
        {{rec.name}}
        <font *ngIf="rec.comment" size="-2">
          {{rec.comment}}
        </font>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
      <mat-cell *matCellDef="let rec"> {{rec.quantity}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Value<br>(ISK) </mat-header-cell>
      <mat-cell *matCellDef="let rec"> {{rec.value | currency:'':'':'.2-2':'en-US'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="volume">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Volume<br>(m3) </mat-header-cell>
      <mat-cell *matCellDef="let rec">
        <ng-container *ngIf="rec.volume !== 'NaN'">
          {{(rec.volume | number:'.2-2') || 'n/a'}}
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="content">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Content<br>(m3) </mat-header-cell>
      <mat-cell *matCellDef="let rec">
        <ng-container *ngIf="rec.content_volume !== 'NaN'">
          {{(rec.content_volume | number:'.2-2') || 'n/a'}}
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let rec; columns: displayedColumns;" [class.mat-row-link]="rec.link"></mat-row>

  </mat-table>

  <div></div>

</div>

