<div fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="start stretch" *defVar="(location$ | async) as location">

  <div></div>

  <mat-card *ngIf="location?.info as info" class="mat-elevation-z4">

    <mat-card-header>
      <img *ngIf="info.image" mat-card-avatar [src]="info.image">
      <mat-card-title>{{info.name}}</mat-card-title>
      <mat-card-subtitle *ngIf="info.comment">{{info.comment}}</mat-card-subtitle>
    </mat-card-header>

    <mat-progress-bar *ngIf="!info.done" mode="indeterminate"></mat-progress-bar>

    <mat-card-content gdColumns="repeat(auto-fill, minmax(220px, 1fr))" gdGap="16px">
      <ng-container *ngFor="let stat of info.stats">
        <mat-card *ngIf="stat.value !== ''" class="num-card mat-elevation-z5" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="space-between stretch">

          <div class="num-card-value" fxFlex="grow" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
            <ng-container *ngIf="stat.value === 'n/a'; else datavalue">
              <button  mat-stroked-button color="primary"
                [routerLink]="['/browse',info.data.Link,'deep']" queryParamsHandling="preserve">
                Load
              </button>            
            </ng-container>
            <ng-template #datavalue>
              <div class="mat-display-1">
                <ng-container *ngIf="isNum(stat.value); else textvalue">{{stat.value | scale:'kMB':'.2-2'}}</ng-container>
                <ng-template #textvalue>{{stat.value}}</ng-template>
              </div>
            </ng-template>
          </div>

          <div class="num-card-actions" fxFlex="none" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between stretch">
            <div fxFlex="grow" fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="start center"> 
              <span>{{stat.title}}</span>
            </div>
            <ng-container *ngIf="stat.actions.length && isNum(stat.value)">
            <button *ngFor="let act of stat.actions" mat-icon-button (click)="viewLogistics(info.data, act.value)" fxFlex="none">
              <mat-icon>{{act.name}}</mat-icon>
            </button>  
            </ng-container>
          </div>

        </mat-card>
      </ng-container>      
    </mat-card-content>

    <mat-card-actions fxLayout="row wrap" fxLayoutAlign="flex-start">
      <ng-container *ngFor="let node of info.route; let idx = index">
        <mat-icon *ngIf="idx" fxFlexAlign="center">navigate_next</mat-icon>
        <button mat-button [matTooltip]="node.comment" fxFlexAlign="center"
          [routerLink]="['/browse',node.link]" queryParamsHandling="preserve">
          {{node.name}}
        </button>
      </ng-container>
    </mat-card-actions>    
  </mat-card>

  <app-error *ngIf="location?.error as e" fxFlex fxFill [err]="e"></app-error>

  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z4" matSortActive="name" matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="link">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let rec">
        <button *ngIf="rec.link" mat-icon-button 
          [routerLink]="['/browse',rec.link]" queryParamsHandling="preserve">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let rec">
        {{rec.name}}
        <font *ngIf="rec.comment" size="-2">
          {{rec.comment}}
        </font>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
      <mat-cell *matCellDef="let rec">{{rec.quantity | number}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Value<br>(ISK) </mat-header-cell>
      <mat-cell *matCellDef="let rec">
        <ng-container *ngIf="isNum(rec.value)">{{rec.value | currency:'':'':'.2-2':'en-US'}}</ng-container>
        <ng-container *ngIf="!isNum(rec.value)">{{rec.value}}</ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="volume">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Packaged<br>(m3) </mat-header-cell>
      <mat-cell *matCellDef="let rec">
        <ng-container *ngIf="isNum(rec.volume)">{{rec.volume | number:'.2-2'}}</ng-container>
        <ng-container *ngIf="!isNum(rec.volume)">{{rec.volume}}</ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="assembled">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Assembled<br>(m3) </mat-header-cell>
      <mat-cell *matCellDef="let rec">
        <ng-container *ngIf="isNum(rec.volume_assembled)">{{rec.volume_assembled | number:'.2-2'}}</ng-container>
        <ng-container *ngIf="!isNum(rec.volume_assembled)">{{rec.volume_assembled}}</ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let rec; columns: displayedColumns;" [class.mat-row-record]="true"></mat-row>
    <mat-row *matRowDef="let rec; columns: displayedHeaderColumns; when: isHeader" [class.mat-row-header]="true"></mat-row>

  </mat-table>

  <div></div>

</div>

