.avatar{
  border-radius: 12px;
  height: 48px;
  width: 48px;
  object-fit: contain;
}
::ng-deep.mat-tab-link {
  min-width: 0!important;
  padding: 8px!important;
}
.footer p {
  margin: 16px;
  word-wrap: break-word;
  text-align: center;
  color: rgba(0,0,0,.54);
}
