<h2 mat-dialog-title>Settings</h2>

<div mat-dialog-content fxLayout="column" style="height: calc(100% - 96px);">

  <form [formGroup]="setupForm">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z4" formArrayName="features">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Feature name </mat-header-cell>
          <mat-cell *matCellDef="let feature; let i = index" [formGroupName]="i" [class.mat-cell-main]="feature.value.head">
            {{feature.value.name}}
          </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="char">
          <mat-header-cell *matHeaderCellDef> Character </mat-header-cell>
          <mat-cell *matCellDef="let feature; let i = index" [formGroupName]="i">
            <mat-slide-toggle formControlName="char"></mat-slide-toggle>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="corp">
          <mat-header-cell *matHeaderCellDef> Corporation </mat-header-cell>
          <mat-cell *matCellDef="let feature; let i = index" [formGroupName]="i">
            <mat-slide-toggle formControlName="corp"></mat-slide-toggle>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
    </mat-table>
  </form>

  <div fxLayout="row" *defVar="(value$ | async) as value">
    <div fxFlex>
      <h4>Required scopes:</h4>
      <mat-list role="list">
        <mat-list-item *ngFor="let scope of value.scopes" role="listitem">{{scope}}</mat-list-item>
      </mat-list>
    </div>
    <div fxFlex>
      <h4>Required corporation roles:</h4>
      <mat-list role="list">
        <mat-list-item *ngFor="let role of value.roles" role="listitem">{{role}}</mat-list-item>
      </mat-list>
    </div>
  </div>

</div>

<mat-dialog-actions align="end">
  <button class="mat-button" (click)="close()">Close</button>
  <button class="mat-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
