/* You can add global styles to this file, and also import other style files */

/*@import '~@angular/material/_theming.scss';*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-snack-bar-container.snack-bar-error {
    background-color: #ffd740;
    color: rgba(0,0,0,.87);
}
